/* A pretty material theme designed with the sweet tooth in mind. */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Quicksand:wght@300&family=VT323&display=swap');


@media (prefers-color-scheme: light) {
  :root{ /*NOTE: Make all light theme changes here.*/
      --background-color: #00a669;
      --base-color: #372A11AA;
      --toolbar-color: #666666DD;
      --toolbar-font-color: white;
      --toolbar-font-size: 16px;
      --foreground-color: black;
      --foreground-header-color: black;
      --button-color: #b3d9b6;
      --accent-color: #b3d9b6;

      --background-image: url(../assets/batthern.png);
      --background-image-attachment: fixed;
      --base-background-image: ;
      --base-background-image-attachment: fixed;
      --box-shadow: 0px 0px 4px 2px #332f2f88;

      --border-radius: 40px;
      --border-width: 1px;
      --border-color: #282828;
      --hover-color: #DCCA0488; /*Base color, but slightly lighter*/
      --focus-border-color: #3E3E3E; /*Border color, but a little lighter*/
      --active-color: #5B190BCC; /*Background color, but darker*/

    /* Google Fonts imported:
      font-family: 'Lobster', cursive;
      font-family: 'Quicksand', sans-serif;
      font-family: 'Indie Flower', cursive;
      font-family: 'VT323', monospace; */
      --font-family-header: 'Lobster', cursive;
      --font-family-body: 'Quicksand', sans-serif;
      --font-family-accent: 'Indie Flower', cursive;
      --font-family-code: 'VT323', monospace; */
  }
}

@media (prefers-color-scheme: dark) {
  :root{ /*NOTE: Make all dark theme changes here.*/
      --background-color: #004423;
      --base-color: #77777777;
      --toolbar-color: #666666DD;
      --toolbar-font-color: white;
      --toolbar-font-size: 16px;
      --foreground-color: white;
      --foreground-header-color: white;
      --button-color: #b3d9b6;
      --accent-color: #b3d9b6;

      --background-image: url(../assets/batthern.png);
      --background-image-attachment: fixed;
      --base-background-image: ;
      --base-background-image-attachment: fixed;
      --box-shadow: 0px 0px 4px 2px #332f2f88;

      --border-radius: 40px;
      --border-width: 2px;
      --border-color: #282828;
      --hover-color: #DCCA0488; /*Base color, but slightly lighter*/
      --focus-border-color: #3E3E3E; /*Border color, but a little lighter*/
      --active-color: #5B190BCC; /*Background color, but darker*/

    /* Google Fonts imported:
      font-family: 'Lobster', cursive;
      font-family: 'Quicksand', sans-serif;
      font-family: 'Indie Flower', cursive;
      font-family: 'VT323', monospace; */
      --font-family-header: 'Lobster', cursive;
      --font-family-body: 'Quicksand', sans-serif;
      --font-family-accent: 'Indie Flower', cursive;
      --font-family-code: 'VT323', monospace; */
  }
}
img{
  border-radius: 15px;
}
